.main{
    margin: 30px auto;   
    width: 800px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header button{
    padding: 10px;
    background-color: hsl(198, 28%, 93%);
    color: hsl(220, 50%, 17%);
    border-radius: 10px;
    border: 0px;
}
.container1{
    display: flex;
    justify-content: space-between;
}
.container1 .type h1{
    font-family: 'Barlow Condensed';
}
.type{ 
    margin-top: 40px;
}
.container1 span{
    position: relative;
    top: 30px;
}
.container1 #order{

    padding: 10px;
    background-color: hsl(22, 89%, 52%);
    border-radius: 5px;
    margin-right: 20px ;
}
.container1 img{
    width: 300px;
    border-radius: 10px;
    margin: 30px 0px;
}

.container2{
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
#img1{
    height: 250px;
    width: 150px;
    background-image: url("../images/image-phone-and-keyboard.jpg");
    background-color: #f36718;
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 20px;
}

#board{
    border-radius: 20px;
    height: 250px;
    width: 250px;
    margin:auto 150px auto 50px;
}
.container2  .mech h2{
    font-family: 'Barlow Condensed';
}
.container3{ 
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.items{
    height: 300px;
    width: 180px;
}
.container3 .items h3{
    font-family: 'Barlow Condensed';
}
p{
    color: #7e8eaf;
}
.small{
    padding: 10px;
    background-color: #f36718;
    border-radius: 10px;
}
